# --- CORE WEB SERVER ---
Django>=5.1.1
gunicorn
daphne
asgiref
python-dotenv
whitenoise
django-cors-headers
djangorestframework

# --- DATABASE & STORAGE ---
dj-database-url
psycopg2-binary
pgvector
cloudinary
django-cloudinary-storage

# --- REAL-TIME (CHAT) ---
channels
channels-redis
redis

# --- PAYMENTS & APIS ---
stripe
requests
groq

# --- UTILITIES ---
pillow
qrcode
sqlparse
cryptography

# --- AI & MACHINE LEARNING ---
# Removing strict versions so Pip finds the best match for Python 3.13
torch
transformers
sentence-transformers
numpy
scikit-learn
langchain
langchain-community
langchain-groq
langchain-huggingface
huggingface_hub
